main {
  --swup-fade-theme-duration: 300ms;
}

.transition-slide-right,
.transition-slide-left {
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateX(0);
}

html.is-animating .transition-slide-right {
  transform: translateX(-1.5em);
}

html.is-leaving .transition-slide-right {
  transform: translateX(1.5em);
}

html.is-animating.to-left .transition-slide-right {
  transform: translateX(1.5em);
}

html.is-leaving.to-left .transition-slide-right {
  transform: translateX(-1.5em);
}

html.is-animating .transition-slide-left {
  transform: translateX(1.5em);
}

html.is-leaving .transition-slide-left {
  transform: translateX(-1.5em);
}

html.is-animating.to-right .transition-slide-left {
  transform: translateX(-1.5em);
}

html.is-leaving.to-right .transition-slide-left {
  transform: translateX(1.5em);
}