html {
  --translate_amount: 1.5em;
  --translate_inverse_amount: -1.5em;
  --anim_time: 300ms;
}

main {
  --swup-fade-theme-duration: var(--anim_time);
}

.transition-fade {
  transition-property: opacity;
  transition-duration: calc(var(--anim_time));
  opacity: 0;
}

html.is-animating .transition-fade {
  opacity: 1;
}

.transition-slide-right,
.transition-slide-left {
  transition-property: opacity, transform;
  transition-duration: var(--anim_time);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateX(0);
}

html.is-animating .transition-slide-right {
  transform: translateX(var(--translate_inverse_amount));
}

html.is-leaving .transition-slide-right {
  transform: translateX(var(--translate_amount));
}

html.is-animating.to-left .transition-slide-right {
  transform: translateX(var(--translate_amount));
}

html.is-leaving.to-left .transition-slide-right {
  transform: translateX(var(--translate_inverse_amount));
}

html.is-animating .transition-slide-left {
  transform: translateX(var(--translate_amount));
}

html.is-leaving .transition-slide-left {
  transform: translateX(var(--translate_inverse_amount));
}

html.is-animating.to-right .transition-slide-left {
  transform: translateX(var(--translate_inverse_amount));
}

html.is-leaving.to-right .transition-slide-left {
  transform: translateX(var(--translate_amount));
}