/* Generic */
html {
  font-family: Roboto;
  background-color: #fff3e0;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 2rem;
}

.iframe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Header/Footer */
header {
  padding-bottom: 1rem;
  border-bottom: 0.1rem dashed black;
}

footer {
  padding-top: 1rem;
  border-top: 0.1rem dashed black;
}

nav,
footer {
  display: flex;
  justify-content: space-evenly;
}

nav a,
footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

nav a,
footer a {
  color: black;
}

nav a:hover,
footer a:hover {
  color: blue;
}

nav a:active,
footer a:active {
  color: purple;
}

.link-icon {
  padding-right: 0.25rem;
}

/* Entry */
.entry {
  overflow: auto;
}

.entry+.entry {
  margin-top: 2rem;
}

.entry h3 {
  border-bottom: 0.1rem solid black;
}

#about h3 {
  border-bottom: 0rem;
}

.card {
  background-color: gray;
  padding: 0.5rem;
  border: 0.1rem solid black;
  margin-left: 1em;
  margin-bottom: 1em;
  float: right;
  position: relative;
  z-index: 1;
}

table {
  border: 0.1rem solid black;
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #ffe9c7;
}

tr:nth-child(odd) {
  background-color: #ffdfad;
}

td {
  text-align: right;
  vertical-align: text-top;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.row-key {
  text-wrap: nowrap;
}

td span {
  display: block;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav,
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .weblink {
    padding-left: 15%;
    /* display: flex; */
    /* justify-content: center; */
  }

  .weblink+.weblink {
    padding-top: 0.3em;
  }
}

iframe {
  width: 80%;
}

/* Resume */
.grid-resume {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cell-resume {
  flex-wrap: wrap;
}

#resume h2 {
  text-align: center;
  border-bottom: 0.1rem solid black;
}

.resume-job-header {
  display: flex;
  justify-content: space-between;
}

.resume-education {
  list-style-type: none;
  padding-left: 0;
}

li+li {
  padding-top: 0.5em;
}

/* Blog */
#blog-flags {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Animations */
main {
  --swup-fade-theme-duration: 300ms;
}

.transition-slide-right,
.transition-slide-left {
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateX(0);
}

html.is-animating .transition-slide-right {
  transform: translateX(-1.5em);
}

html.is-leaving .transition-slide-right {
  transform: translateX(1.5em);
}

html.is-animating.to-left .transition-slide-right {
  transform: translateX(1.5em);
}

html.is-leaving.to-left .transition-slide-right {
  transform: translateX(-1.5em);
}

html.is-animating .transition-slide-left {
  transform: translateX(1.5em);
}

html.is-leaving .transition-slide-left {
  transform: translateX(-1.5em);
}

html.is-animating.to-right .transition-slide-left {
  transform: translateX(-1.5em);
}

html.is-leaving.to-right .transition-slide-left {
  transform: translateX(1.5em);
}