header {
  padding-bottom: var(--body-padding);
  border-bottom: var(--secondary-spacing) dashed var(--border-color);
}

footer {
  padding-top: var(--body-padding);
  border-top: var(--secondary-spacing) dashed var(--border-color);
}

nav,
footer {
  display: flex;
  justify-content: space-evenly;
}

nav a,
footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--bold-font-size);
  font-weight: bold;
  color: var(--link-color);
}

nav a:hover,
footer a:hover {
  color: var(--link-hover-color);
}

nav a:active,
footer a:active {
  color: var(--link-active-color);
}