---
import Entry from "@components/Entry.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { type EntryBody } from "@src/content.config";
import { Bike, Computer, Mountain, PersonStanding } from "lucide-astro";
import Cover from "../content/about/cover.jpg";

const profile: EntryBody = {
  releaseDate: new Date("1996-10-04"),
  title: "",
  id: "",
  table: [
    {
      key: "Name",
      value: {
        type: "Elements",
        value: ["Ruben Alvarez Reyes"],
      },
    },
    {
      key: "Pronouns",
      value: {
        type: "Elements",
        value: ["He/him"],
      },
    },
    {
      key: "Nationality",
      value: {
        type: "Elements",
        value: ['<span class="fi fi-us"></span> USA'],
      },
    },
    {
      key: "Residence",
      value: {
        type: "Elements",
        value: ["Texas"],
      },
    },
    {
      key: "Languages",
      value: {
        type: "Elements",
        value: [
          '<span class="fi fi-us"></span> English (en)',
          '<span class="fi fi-mx"></span> Spanish (es)',
        ],
      },
    },
  ],
};
---

<BaseLayout pageTitle="About Me">
  <Entry body={profile} img={Cover} imgWidth={300}>
    <p>
      Hello, I'm from the state of Arizona and grew up near the border of Mexico
      in small town called
      <a href="https://en.wikipedia.org/wiki/Somerton,_Arizona" target="_blank"
        >Somerton</a
      >. Being near the border and my family coming from Mexico, my first
      language is English (bet you didn't see that coming) and my second
      language is Spanish.
    </p>
    <Bike />
    <p>
      With not much to do there I took an interest in cycling to explore my
      area, raced a bit too and it was all my ambitions as a teeneager to be a
      pro-cyclist but alas... Unknowingly having this curiousty of exploring
      seeded my future and current mindset of: <em
        >"Let's see what's in this side of the world and if I get too tired I
        can always cycle back home"</em
      >. I suppose that can be taken metaphorical and literal as well.
    </p>
    <Computer />
    <p>
      I as well ventured into programming to keep my mind busy and sharp. I
      first started my journey with python making small projects: GUI's, data
      visualizations and pretty much just tinkering. Thereafter started a
      journey in making video games as a hobby with a rough start due project
      scope, but learned a few lessons along the way.
    </p>
    <Mountain />
    <p>
      I've been hiking as of lately and it has been well honestly some of the
      most enjoyable things in life for me. Whether taking a walk around Hyde
      Park in Austin Texas or going through the mountains of
      <a href="https://en.wikipedia.org/wiki/Tian_Shan" target="_blank"
        >Tian Shan</a
      >,
      <a href="https://en.wikipedia.org/wiki/Karakoram" target="_blank"
        >Karakoram</a
      >, and
      <a href="https://en.wikipedia.org/wiki/Himalayas" target="_blank"
        >Himalayas</a
      > it has been absolutely wonderful. I cannot stress just enough the simple beauty
      of walking outisde has brought joy and memories to me. I point my finger to
      riding my bicycle as a teenager to lead me to these beautiful places.
    </p>
    <PersonStanding />
    <p>
      Lastly, latin dancing Salsa and Bachata as been an integral part of my
      life. Unfortunately, I'm not at a skill level to where my time in it
      reflects (whoops). However with that being said, I've met so many people
      and made friends from there. Anyways, while you read this... maybe you can
      dance away to another section of this website?
    </p>
  </Entry>
</BaseLayout>
