---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Construction, HardHat, Wrench } from "lucide-astro";
---

<BaseLayout pageTitle="Home">
  <article class="transition-slide-right">
    <p>
      Hello, my name is Ruben Alvarez Reyes and this is my corner of the
      websphere, have fun meandering if you're a robot, spider crawler or
      hopefully a human. Though I prefer the latter.
    </p>
    <p>
      This is primarily a place to showcase my personal projects, interests and
      work experiance. If you're interested into anything I post here than
      contact me through the links below or shoot me an email.
    </p>
    <Construction />
  <HardHat />
  <Wrench />
    <p>
      This website is currently under construction and will develop in real
      time. Currently working on:
    </p>
    <ul>
      <li>Ability to download resume as PDF.</li>
      <li>A Paypal donation section.</li>
      <li>A blog section and add multimedia of my travels and thoughts.</li>
      <li>Flesh out the project section with more multimedia and text.</li>
    </ul>
  </article>
</BaseLayout>
