---
import {
    ChevronFirst,
    ChevronLast,
    ChevronLeft,
    ChevronRight,
    X,
} from "lucide-astro";
const carouselSocketsAmount = Array(7);
---

<script>
    import { initPopup } from "@scripts/imgPopup";
    document.addEventListener("astro:page-load", () => initPopup());
    initPopup();
</script>

<div class="image-popup-container-overlay image-popup-container-hide transition-fade">
    <div class="image-popup-container">
        <div class="image-popup-container-exit-container">
            <button class="image-popup-container-exit">
                <X />
            </button>
        </div>
        <img id="image-popup" />
        <div class="carousel-socket-container">
            <div class="carousel-left-control">
                <button class="carousel-bttn-first">
                    <ChevronFirst />
                </button>
                <button class="carousel-bttn-previous">
                    <ChevronLeft />
                </button>
            </div>
            {
                carouselSocketsAmount.map(() => {
                    <img class="carousel-socket" />;
                })
            }
            <div class="carousel-right-control">
                <button class="carousel-bttn-next">
                    <ChevronRight />
                </button>
                <button class="carousel-bttn-last">
                    <ChevronLast />
                </button>
            </div>
        </div>
    </div>
</div>
