---
import Entry from "@components/Entry.astro";
import { projects } from "@scripts/data";
---

<Entry data={projects.an_8_bit_rpg}>
    <div slot="column-content">
        <p>
            This is what's latest in development, the aim for this game is a top
            down RPG game, heavily inspired from a video game I use to play in
            the past:
            <a
                href="https://gurk.fandom.com/wiki/Gurk,_the_8-bit_RPG_Wikia"
                target="_blank"
            >
                Gurk, the 8-bit RPG</a
            >. What I aim for this latest project of mine is implementing what I
            lacked in my prior game of Starship Invasion: units with specific
            roles and behaviors that allow for more enjoyable experiance.
        </p>
        <p>
            So far the breakthoughs have been made in implementing character
            behaviors through behavior trees as to where in Starship Invasion
            there was none and just Finte State Machines (FSM) where used for
            that.
        </p>
        <p>
            Super excited to get this out as I see it avenges one of my failed
            works in the past, and it fulfills one of my childhood dreams of
            making an RPG game. Hopefully with my prior experiance, this will be
            the a banger for sure.
        </p>
    </div>
    <div slot="under-content">
        <p>Inspirations:</p>
        <ul>
            <li>
                <a
                    href="https://gurk.fandom.com/wiki/Gurk,_the_8-bit_RPG_Wikia"
                    target="_blank"
                >
                    Gurk, the 8-bit RPG
                </a>
            </li>
            <li>
                <a
                    href="https://wowpedia.fandom.com/wiki/Wowpedia"
                    target="_blank"
                >
                    World of Warcraft
                </a>
            </li>
        </ul>
    </div>
</Entry>
