---
import Entry from "@components/Entry.astro";
import { projects } from "@scripts/data";
---

<Entry data={projects.starry_night}>
    <div slot="column-content">
        <p>
            This was a quick and dirty game I made to just get back in the
            rhythm and mindset of starting and ending a project. It was meant
            for a game jam over a weekend but I didn't make the deadline
            (whoops)... so it was made in about two weeks. Anyways the controls
            are clunky and the gameplay is questionable?
        </p>
    </div>
    <div slot="under-content"></div>
</Entry>
