---
import Entry from "@components/Entry.astro";
import { projects } from "@scripts/data";
---

<Entry data={projects.website}>
    <div slot="column-content">
        <p>
            You're literally on the website itself. Though I put it on here to
            showcase one of the many projects. Check out the repo of you'd like.
        </p>
    </div>
</Entry>
